@model YourNewTaxi.Domain.Entities.Order

@{
    Layout = null;
}

<!DOCTYPE html>
<link href="~/Content/Site.css" type="text/css" rel="stylesheet" />
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>YourNewTaxi</title>
</head>
<body>
    <div>
        <a href="../account/login">Вход для водителей</a>
        <br />
        <img src="Content/TaxiLogo.png" alt="Картинка такси">
        
        <br />
        <h1>Добро пожаловать на сайт заказа такси!</h1>
        <h1>Мы находимся в Нижнем Новгороде и работаем круглосуточно!</h1>
        <h1>Заказать такси</h1>

    </div>

Fill form ro order taxi:
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary()
    <p>Адрес отправления: @Html.TextBoxFor(x => x.AddressStart)</p>
    <p>Адрес прибытия: @Html.TextBoxFor(x => x.AddressFinish)</p>
    <p>Телефонный номер в российском формате: @Html.TextBoxFor(x => x.ClientPhone)</p>
    <p>Дата заказа в формате YYYY-MM-DD (optionally): @Html.TextBoxFor(x => x.Date)</p>
    <p>Время заказа в формате HH:MM (optionally): @Html.TextBoxFor(x => x.Time)</p>
    <input type="submit" value="Place order">
    }
</body>
</html>
